<h5>Basic</h5>
<p-button (click)="newUser()" icon="pi pi-external-link" label="Nuevo"></p-button>



<div class="p-mt-2">
  <p-table [value]="users" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Usuario</th>
            <th>Estado</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.nombres}}</td>
          <td>{{user.apellidos}}</td>
          <td>{{user.correo}}</td>
          <td>{{user.usuario}}</td>
          <td>{{user.state}}</td>
        </tr>
    </ng-template>
</p-table>
</div>


<div class="">
  <p-dialog header="Header" [(visible)]="showModal">

     <div class="p-grid">
      <div class="p-field p-sm-6 p-col-12">
        <input pInputText id="nombres"  [(ngModel)]="model.nombres" type="text" placeholder="Nombres">
      </div>
      <div class="p-field p-sm-6 p-col-12 ">
        <input pInputText id="apellidos"  [(ngModel)]="model.apellidos" type="text" placeholder="Apellidos">
      </div>
      <div class="p-field p-sm-6 p-col-12">
        <input pInputText id="correo"  [(ngModel)]="model.correo" type="email" placeholder="Correo">
      </div>
      <div class="p-field p-sm-6 p-col-12">
        <input pInputText id="usuario"  [(ngModel)]="model.usuario" type="text" placeholder="Usuario">
      </div>
      <div class="p-field p-sm-6 p-col-12">
        <p-dropdown [options]="states" [(ngModel)]="model.state" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
     </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="save()" label="Guardar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

</div>
